:root{
    --display: none;
    --color1: aliceblue;
    --color2: black;
    --color3: skyblue;
    --color4: rgb(70, 115, 133);
    --titlecolor:aquamarine;
    --cherryblossom: none;
}
body{
    counter-reset: section;
    font-family: 'Cutive Mono', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: none;
}
.loadscreen{
    display: var(--display);
    background-color: #aaa;
    left: 0;
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
#wait{position: relative; left: 45%; top: 60%; font-size: 50px; font-weight: bolder;}
.loader{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    position: fixed;
    left: 45%;
    top: 40%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}
#sort-option{
    font-size: 2vw;
    margin: 0 0 0 2vw;
}
@keyframes spin {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes leftmove {
    from {opacity: 0; left: -30%;}
    to {opacity: 1; left: 0%}
}
@keyframes rightmove {
    from {opacity: 0; left: 30%;}
    to {opacity: 1; left: 0%}
}
.leftMove{
    animation: leftmove 0.7s ease-out;
}
.rightMove{
    animation: rightmove 0.7s ease-out;
}
.left, .right{
    position: relative;
    display: block;
    background-color: aliceblue;
    margin-bottom: 20vw;
    margin-right: 5vw;
    word-break: break-all;
    border: 0.2vw ridge moccasin;
}
.avt{
    border-radius: 50%;
    border: 0.3vw solid rgb(0, 0, 0);
    width: 23vw;
    height: 23vw;
    margin: 0 0 1vw 1vw;
    box-shadow: 0 3px 5px 0 rgba(238, 150, 234, 0.733), 2px 2px 15px 0 var(--color2);
    background-size: cover;
    cursor: pointer;
}
.changeavt{
    animation: change 1s ease-out;
}
@keyframes change {
    from {transform: rotate(0deg); opacity: 1;}
    to {transform: rotate(360deg); opacity: 0;}
}
.waifulist h3::before{
    counter-increment: section;
    content: "#" counter(section);
    background-color: rgba(240, 198, 146, 0.842);
    border-right: 0.2vw ridge moccasin;
    margin-right: 1.5vw;
    padding: 0 0.5vw;
}
.left h3, .right h3{
    position: relative;
    font-size: 4vw;
    background-color: rgba(142, 222, 253, 0.7);
    font-weight: bolder;
    margin: 0;
}
.left h4, .right h4{
    background-color: #aaa;
    font-size: 2vw;
    font-weight: bolder;
    border-top: 0.2vw ridge moccasin;
    border-bottom: 0.2vw ridge moccasin;
    margin: 0 0 1vw 0;
    padding: 0.3vw 1vw;
    font-style: italic;
}
.left div, .right div{
    display: flex;
    font-size: 2.5vw;
}
.left p, .right p{
    margin: 0 0 0 3vw;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 50px;
    left: 70%;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}
input:checked + .slider{
    background-color: #3498db;
    box-shadow: 0 0 15px #0d9cfc;
}
input:checked + .slider:before{
    transform: translateX(26px);
}
.slider {
    border-radius: 34px;
  }
  
.slider:before {
    border-radius: 50%;
}
