:root{
    --color1: aliceblue;
    --color2: black;
    --color3: skyblue;
    --color4: rgb(70, 115, 133);
    --titlecolor:aquamarine;
    --cherryblossom: none;
}
*{box-sizing: border-box;}
body{
    counter-reset: section;
    font-family: 'Cutive Mono', sans-serif;
    background-color: var(--color1);
    color: var(--color2);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: none;
}
/*jump to top*/
#jump-to-top{
    display: none;
    cursor: pointer;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 80vh;
    right: 2vw;
    z-index: 1;
    background-color: rgba(142, 222, 253, 0.7);
    border: 0.2vw solid rgb(70, 157, 228);
    transition: background 1s ease;
}
#jump-to-top span{
    width: 0;
    height: 0;
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #000;
}
#jump-to-top:hover{
    background: rgba(126, 187, 211, 0.7);
}
/*loading screen*/
#loadscreen{
    display: none;
    background-color: #aaa;
    left: 0;
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
#wait{position: relative; left: 45%; top: 60%; font-size: 50px; font-weight: bolder;}
#loader{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    position: fixed;
    left: 45%;
    top: 40%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
/*navigation bar*/
.navbar a{text-decoration: none; color: #000;}
#menu{
    background-color: rgba(136, 130, 130, 0.849);
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}
.navbar{
    list-style-type: none;
    font-size: 2vw;
    font-weight: bolder;
    background-color: rgba(142, 222, 253, 0.7);
    top: 0;
    margin: 0;
    left: -30%;
    opacity: 0; 
    position: fixed;
    width: 20%;
    height: 100%;
}
.navbar li{
    margin: 0 0 1vw 0;
    cursor: pointer;
    width: fit-content;
    max-width: 0;
    transition: max-width 0.3s ease-in;
    border-bottom: 0.2vw solid #000;
} 
#currentPage{max-width: fit-content;}
.navbar li:hover{max-width: 100%;}

.open-navbar{
    animation: nav-open 0.5s ease forwards;
}
.close-navbar{
    animation: nav-close 0.5s ease forwards;
}
@keyframes nav-open {
    from {opacity: 0; left: -30%;}
    to {opacity: 1; left: 0; }
}
@keyframes nav-close {
    from {opacity: 1; left: 0;}
    to{opacity: 0; left: -30%;}
}
#close{
    color: var(--color2);
    font-size: 200%;
    margin: 1vw;
    left: 75%;
    position: relative;
    font-weight: bold;
    cursor: pointer;
}
#close:hover{color: rgb(133, 130, 130);}
/*main content*/
.leftMove{
    animation: leftmove 0.7s ease-out;
}
@keyframes leftmove {
    from {opacity: 0; left: -30%;}
    to {opacity: 1; left: 0%}
}
.rightMove{
    animation: rightmove 0.7s ease-out;
}
@keyframes rightmove {
    from {opacity: 0; left: 30%;}
    to {opacity: 1; left: 0%}
}
.left, .right{
    position: relative;
    display: block;
    background-color: var(--color1);
    margin: 0 5vw 20vw 0;
    word-break: break-all;
    border: 0.3vw ridge moccasin;
    opacity: 0.9;
    min-width: 90vw;
}
.avt{
    border-radius: 50%;
    border: 0.3vw solid rgb(0, 0, 0);
    width: 23vw;
    height: 23vw;
    margin: 1vw;
    box-shadow: 0 3px 5px 0 rgba(238, 150, 234, 0.733), 2px 2px 15px 0 var(--color2);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.changeavt{
    animation: change 1s ease-out;
}
@keyframes change {
    from {transform: rotate(0deg); opacity: 1;}
    to {transform: rotate(360deg); opacity: 0;}
}
.waifulist h3::before{
    counter-increment: section;
    content: "#" counter(section);
    background-color: rgba(240, 198, 146, 0.842);
    border-right: 0.2vw ridge moccasin;
    margin-right: 1.5vw;
    padding: 0 0.5vw;
}
.left h3, .right h3{
    position: relative;
    font-size: 4vw;
    background-color: rgba(142, 222, 253, 0.7);
    font-weight: bolder;
    margin: 0;
}
.left h4, .right h4{
    background-color: #aaa;
    font-size: 2vw;
    font-weight: bolder;
    border-top: 0.2vw ridge moccasin;
    border-bottom: 0.2vw ridge moccasin;
    margin: 0 0 1vw 0;
    padding: 0.3vw 1vw;
    font-style: italic;
}
.left div, .right div{
    display: flex;
    font-size: 5vh;
}
.left p, .right p{
    padding: 0 2vw 0 1vw;
    max-width: 63vw;
}
.features{
    position:relative;
    top: 75%;
    padding: 5vw;
}
/*toggle switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 50px;
    left: 70%;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}
.switch-circle {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.5s ease;
}
input:checked ~ .slider{
    background-color: #3498db;
    box-shadow: 0 0 15px #0d9cfc;
}
input:checked ~ .switch-circle{
    transform: translateX(26px) rotate(360deg);
}
/*rank option*/
.custom-sort, .theme-option{
    color: var(--color2);
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    left: 70%;
}
.custom-sort select, .theme-option select{
    color: var(--color2);
    display: block;
    font-size: 20px;
    text-align: center;
    font-family: 'Cutive Mono', sans-serif;
    font-weight: bolder;
    padding: 10px;
    cursor: pointer;
    border: 0.2vw solid rgb(70, 157, 228);
    border-radius: 5px;
    background-color: rgba(167, 222, 243, 0.7);
    outline: none;
    appearance: none;
    width: 250px;
}
.arrow {
    width: 0;
    height: 0;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #000;
    right: 10px;
    bottom: 20px;
}
.rotate-arrow-up {
    animation: rotateUp 0.5s ease forwards;
}
.rotate-arrow-down {
    animation: rotateDown 0.5s ease forwards;
}
@keyframes rotateUp {
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}
}
@keyframes rotateDown {
    from {transform: rotate(180deg);}
    to {transform: rotate(360deg);}
}
.sort-option{
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    background-color: rgba(206, 238, 250, 0.7);
    z-index: 1;
    width: 100%;
    position: absolute;
}
.sort-option li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    cursor: pointer;
    transition: background 0.5s ease;
}
.open-option{
    animation: open 1s ease forwards;
}
@keyframes open {
    from {opacity: 0;}
    to {opacity: 1;}
}
.sort-option li:hover{
    background: rgba(126, 187, 211, 0.7);
}
