:root{
    --display: none;
    --color1: aliceblue;
    --color2: black;
    --color3: skyblue;
    --color4: rgb(70, 115, 133);
    --titlecolor:aquamarine;
    --cherryblossom: none;
}
body{
    counter-reset: section;
    font-family: 'Cutive Mono', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.loadscreen{
    display: var(--display);
    background-color: #aaa;
    left: 0;
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
#wait{position: relative; left: 45%; top: 60%; font-size: 50px; font-weight: bolder;}
.loader{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    position: fixed;
    left: 45%;
    top: 40%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes leftmove {
    from {opacity: 0; left: -100%;}
    to {opacity: 100; left: 0%}
}
@keyframes rightmove {
    from {opacity: 0; left: 100%;}
    to {opacity: 10; left: 0%}
}
@media(prefers-reduced-motion: no-preference){
    .movement{
        animation: leftmove 0.5s ease-out both;
    }
    .movement1{
        animation: rightmove 0.5s ease-out both;
    }
}

.waifulist h3::before{
    counter-increment: section;
    content: "#" counter(section) "-";
}
.left, .right{
    display: block;
    background-color: aliceblue;
    margin-bottom: 20vw;
    margin-right: 5vw;
}
.left img, .right img{
    border-radius: 50%;
    border: 0.3vw solid rgb(0, 0, 0);
    width: 23vw;
    height: 23vw;
    box-shadow: 0 3px 5px 0 rgba(238, 150, 234, 0.733), 2px 2px 15px 0 var(--color2);
}
.left h3, .right h3{
    position: relative;
    font-size: 4vw;
    background-color: rgba(142, 222, 253, 0.7);
    font-weight: bolder;
    margin: 1vw 0;
}
.left div, .right div{
    display: flex;
    font-size: 2.5vw;
}
.left p, .right p{
    margin: 0 0 0 3vw;
}
